body{
    margin: 0;
}

.frame{
    background: linear-gradient(260.33deg, #0047FF -13.37%, #00BCD4 109.53%);
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.frame > p{
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 17px;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 67px;
    background-color: black;
}

div.nav > img{
    height: 27px;
}

div.nav > ul{
    height: 27px;
    width: 467px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
}

div.nav > ul > li > a{
    text-decoration: none;
    color: #848895;
}

/*----------------------------------------------Section 1-----------------------------------------------------*/
.section1{
    height: 664px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.section1 > p:first-child{
    width: 777px;
    height: 76px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 70px;
    text-align: center;
    letter-spacing: 0.68px;
    color: #FFFFFF;
    margin: 0;
}

.section1 > p:nth-child(2){
    width: 566px;
    height: 76px;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    text-align: center;
    letter-spacing: 0.68px;
    color: #FFFFFF;
    margin: 5px 0 0 0;
}

.section1 > p:nth-child(3){
    width: 589px;
    height: 55px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    color: #FFFFFF;
    margin: 55px 0 0 0;
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 48px 0 121px 0;
}

.section1 > div.buttons > input:first-child{
    background: linear-gradient(98.88deg, #8C01FA -2.99%, #000000 102.28%);
    border: 1px solid #000000;
    border-radius: 36px;
    width: 181px;
    height: 52px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 16px 33px;
    margin-right: 15px;
    cursor: pointer;
}

.section1 > div.buttons > input:last-child{
    padding: 16px 33px;
    width: 146px;
    height: 52px;
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 36px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}
/*----------------------------------------------CLIENTS---------------------------------------------------------*/

.clients{
    height: 135px;
    background-color: black;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clients > p{
    width: 704px;
    height: 17px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #618ADC;
}

.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
}

.logos > img:first-child{
    width: 113.36px;
    height: 37.19px;
    margin-right: 15px;
}

.logos >img:nth-child(2){
    width: 94px;
    height: 78px;
    margin-right: 15px;
}
.logos > img:last-child{
    width: 124px;
    height: 24px;
}

/*----------------------------------------------Section 2-----------------------------------------------------*/

.section2{
    height: 1590px;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.wrap1{
    height: 653px;
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
}

.left-wrap{
    margin-top: 125px;
    height: 573px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div.wrap1 > div.left-wrap > p:first-child{
    height: 47px;
    width: 316px;
    margin: 77px 235px 16px 19px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 38px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

div.wrap1 > div.left-wrap > p:last-child{
    height: 47px;
    width: 180px;
    margin: 0 370px 402px 19px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 38px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.right-wrap{
    height: 573px;
    display: flex;
    flex-direction: column;
    margin-top: 125px;
}


div.right-wrap > p:nth-child(even){
    height: 28px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #C4C4C4;
    margin-top: 27px;
}

div.right-wrap > p:first-child{
    height: 132px;
    margin: 3px 0 0 0;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 101px;
    background: linear-gradient(261.81deg, #19FB9B -8.01%, #8C01FA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

div.right-wrap >p:nth-child(3){
    height: 132px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 106px;
    background: linear-gradient(260.33deg, #0047FF -13.37%, #00BCD4 109.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 45px 0 0 0;
}

div.right-wrap > p:nth-child(5){
    height: 132px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 110px;
    background: linear-gradient(265.11deg, #00FFBD -5.84%, #025B8C 111.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 45px 0 0 0;
}

.wrap2{
    margin-top: 65px;
    height: 723px;
    display: flex;
    justify-content: center;
}

.left-text{
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
}

div.wrap2 > div.left-text > p:first-child{
    height: 47px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 1px;
    margin: 2px 175px 10px 20px;
    color: #FFFFFF;
}

div.wrap2 > div.left-text > p:nth-child(2){
    height: 47px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 38px;
    letter-spacing: 1px;
    margin: 0 75px 10px 20px;
    color: #FFFFFF;

}

div.wrap2 > div.left-text > p:last-child{
    height: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 258px 0 20px;
    color: #C4C4C4;
}

.right-text{
    height: 659px;
    display: flex;
    justify-content: center;
}

.column1{
    margin-top: 140px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text1{
    height: 308px;
}

div.text1 > p:first-child{
    height: 34px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 28px;
    margin: 32px 32px 12px 32px;
    color: #FFFFFF;
}

div.text1 > p:nth-child(2){
    height: 110px;
    width: 250px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin: 0 58px 5px 32px;
    color: #C4C4C4;
}

div.text1 > p:nth-child(3){
    height: 28px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 28px;
    margin: 0 202px 12px 32px;
    color: #FFFFFF;
}

div.text1 > p:last-child{
    height: 28px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 79px 32px 32px;
    color: #C4C4C4;
}

.text2{
    margin-top: 8px;
    height: 335px;
}

div.text2 > p:first-child{
    height: 34px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 28px;
    margin: 0 32px 12px 32px;
    color: #FFFFFF;
}

div.text2 > p:nth-child(2){
    height: 137px;
    width: 263px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0 58px 5px 32px;
    color: #C4C4C4;
}

div.text2 > p:nth-child(3){
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 26px;
    margin: 0 202px 12px 32px;
    color: #FFFFFF;
}

div.text2 > p:last-child{
    height: 28px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 79px 32px 32px;
    color: #C4C4C4;
}

.column2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
}

.text3{
    height: 335px;
}

div.text3 > p:first-child{
    height: 34px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 28px;
    margin: 32px 32px 12px 32px;
    color: #FFFFFF;
}

div.text3 > p:nth-child(2){
    height: 137px;
    width: 270px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0 58px 5px 32px;
      color: #C4C4C4;
}

div.text3 > p:nth-child(3){
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 25px;
    margin: 0 202px 12px 32px;
    color: #FFFFFF;
}

div.text3 > p:last-child{
    height: 28px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 79px 32px 32px;
     color: #C4C4C4;
}

.text4{
    margin-top: 13px;
    height: 362px;
}

div.text4 > p:first-child{
    height: 34px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 28px;
    margin: 0 32px 12px 32px;
    color: #FFFFFF;
}

div.text4 > p:nth-child(2){
    height: 137px;
    width: 263px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0 58px 5px 32px;
      color: #C4C4C4;
}

div.text4 > p:nth-child(3){
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 26px;
    margin: 0 202px 12px 32px;
    color: #FFFFFF;
}

div.text4 > p:last-child{
    height: 28px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 79px 32px 32px;
     color: #C4C4C4;
}

div.text4 > p > a{
    color: #19FB9B;
}

/*------------------------------------------------SECTION 3 ---------------------------------------------------------*/

.section3{
    width: 100%;
    margin: 0;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    background-color: black;
}

.nav_and_p{
    display: flex;
    width: 1100px;
    height: 48px;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

.nav_and_p > p{
    height: 47px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 39px;
    letter-spacing: 1px;
}

.nav_and_p > ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_and_p > ul >li:first-child{
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    background: #111111;
    border: 1px solid #A962FF;
    border-radius: 15px;
    padding: 10px 14px;
    margin: 0 5px;
}

.nav_and_p > ul >li{
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    background: #111111;
    border: 1px solid #111111;
    border-radius: 15px;
    padding: 10px 14px;
    margin: 0 5px;
}

.images_words{
    width: 1100px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

div.images_words > img{
    width: 550px;
    height: 400px;
    background-size: cover;
}

article{
    width: 550px;
    height: 400px;
    background-color: #111111;
}

article > img{
    width: 100px;
    height: 100px;
    margin: 54px 0 0 25px;
}

article > p:nth-child(2){
    height: 110px;
    width: 439px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 21px;
    color: #FFFFFF;
    margin: 8px 48px;
}

article > p:nth-of-type(2){
    height: 28px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #A962FF;
    margin-left: 48px;
}

.images_wrapper{
    width: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    height: 62px;
    background-color: #111111;
    border-radius: 16px;
    margin-bottom: 100px;
}

.images_wrapper > img:first-child{
    width: 100px;
    height: 30px;
}

.images_wrapper > img:nth-child(2){
    width: 46px;
    height: 46px;
}

.images_wrapper > img:last-child{
    width: 100px;
    height: 30px;
}

/*-------------------------------------------------FOOTER----------------------------------------------------------*/

footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 380px;
}

.ending1{
    margin-top: 50px;
}

.ending1 > img{
    width: 250px;
    height: 30px;
}

div.favicons > img {
    height: 16px;
    width: 26px;
}

div.ending1 > p:nth-of-type(1){
    height: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

div.ending1 > p:nth-of-type(2){
    height: 28px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #848895;
}

.ending2{
    display: flex;
    justify-content: space-between;
}

.ul1{
    list-style: none;
    height: 28px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #848895;
    margin: 30px 100px 0 0;
}

.ul1 > li{
    margin: 13px 0;
}

.ul1 >li:first-child{
    height: 19px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.ul2{
    list-style: none;
    height: 28px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #848895;
    margin: 30px 100px 0 0;
}

.ul2 > li{
    margin: 13px 0;
}

.ul2 >li:first-child{
    height: 19px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}